<!DOCTYPE html>
<html>
	<head>
		<title>yelpcamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	</head>
	<body>	
		
		<header class="navi-main">
		<a class="navi-head" href="/">YelpCamp</a>
	  <nav>
		<ul class="navi-ul">
			<% if(!currentUser){ %>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Sign Up</a></li>
			<%} else { %>
			<li><a href="#">Signed In as <%= currentUser.username %></a>  </li>
			<li><a href="/logout">Logout</a></li>
			<%} %>
		</ul>
			</nav>
		
		</header>

 
		<div class="container">
			<% if(error && error.length > 0){%>
			<div class="alert alert-danger" role="alert">
			 <%= error %>
		</div>
			<% } %>
			<% if(success && success.length > 0){%>
			<div class="alert alert-success" role="alert">
			 <%= success %>
		</div>
			<% } %>
		</div>
		

		
