<%- include("../partials/header") %>

<div class="main-div">
<div class="box">
		<h1 class="mod">
			Add Comment to <%= campground.name %>
		</h1>
		<div class="input-box">
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
			<div class="input-box">
					<input class="form-control" type="text" name="comment[text]" placeholder="text" />
				</div>
				<div class="input-box">
					<button class="new-but" >Submit</button>
				<a class="new-a" href="/campgrounds">Go back</a>
				</div>
	
			</form>
			
		</div>
	</div>
</div>
<%- include("../partials/footer") %>