<%- include("../partials/header") %>

<div class="main-div">
<div class="box">
		<h1>
			Add Campground
		</h1>

			<form action="/campgrounds" method="POST">
			<div class="input-box">
					<input class="form-control" type="text" name="name" placeholder="name" />
				</div>
				<div class="input-box">
					<input class="form-control" type="number" name="price" placeholder="price" min="0.1" step="0.1" />
				</div>
				<div class="input-box">
					<input class="form-control" type="text" name="image" placeholder="image url" />
				</div>
				<div class="input-box">
					<input
					
						type="text"
						name="description"
						placeholder="description"
					/>
				</div>
				<div class="input-box">
					<button class="sub">Submit</button>
					<a class="go-back" href="/campgrounds">Go back</a>
				</div>
			</form>
			
		</div>
	</div>

<%- include("../partials/footer") %>